@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

/* logo */

.logo{
position: absolute;
width: 52px;
height: 52px;
left: 158px;
top: 4px;
}
body,html{
    height:100%;
}
#root{
    height: 100%;
}
body{
    background-color: #dde7f9;
}